<div class="row">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
            <mat-card class="custom-cards">
                <mat-card-header> 
                    <div mat-card-avatar>
                        <button mat-mini-fab class="image-avatar-azure">

                        </button>
                    </div>
                  <mat-card-title>Azure Fundamentals (Az-900)</mat-card-title>
                  <mat-card-subtitle>Issuer: Microsoft | Id: I000000</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile> 
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
            <mat-card class="custom-cards">
                <mat-card-header> 
                    <div mat-card-avatar>
                        <button mat-mini-fab class="image-avatar-agile">

                        </button>
                    </div>
                  <mat-card-title>Agile Methadologies</mat-card-title>
                  <mat-card-subtitle>Issuer: Learning | Provider: Scientific Games</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>   
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
            <mat-card class="custom-cards">
                <mat-card-header> 
                    <div mat-card-avatar>
                        <button mat-mini-fab class="image-avatar-powerbi">

                        </button>
                    </div>
                  <mat-card-title>Power BI</mat-card-title>
                  <mat-card-subtitle>Issuer: Learning | Provider: Scientific Games</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>  
    </mat-grid-list>
</div>
<div class="row">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
            <mat-card class="custom-cards">
                <mat-card-header> 
                    <div mat-card-avatar>
                        <button mat-mini-fab class="image-avatar-angular">

                        </button>
                    </div>
                  <mat-card-title>Angular</mat-card-title>
                  <mat-card-subtitle>Issuer: Pluralsite</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile> 
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
            <mat-card class="custom-cards">
                <mat-card-header> 
                    <div mat-card-avatar>
                        <button mat-mini-fab class="image-avatar-angular-material">

                        </button>
                    </div>
                  <mat-card-title>Angular Material</mat-card-title>
                  <mat-card-subtitle>Issuer: Pluralsite</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>   
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
            <mat-card class="custom-cards">
                <mat-card-header> 
                    <div mat-card-avatar>
                        <button mat-mini-fab class="image-avatar-softskills">

                        </button>
                    </div>
                  <mat-card-title>Soft Skills</mat-card-title>
                  <mat-card-subtitle>Issuer: VKSSF</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>  
    </mat-grid-list>
</div>
