.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-cards{
    width:95%;
}

.image-avatar-azure{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/Azure.png');
    background-size: cover;
}

.image-avatar-agile{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/Agile.png');
    background-size: cover;
}

.image-avatar-powerbi{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/PowerBI.png');
    background-size: cover;
}

.image-avatar-angular{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/Angular.png');
    background-size: cover;
}

.image-avatar-angular-material{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/Angular.png');
    background-size: cover;
}

.image-avatar-softskills{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/Soft Skill.png');
    background-size: cover;
}