<!-- <mat-card routerLink="/Professional-Summary" class="custom-cards-clickable">
    <mat-card-header> 
      <div mat-card-avatar>
        <button mat-mini-fab>
            <mat-icon>whatshot</mat-icon>
        </button>
      </div>
      <mat-card-title>Professional Summary</mat-card-title>
    </mat-card-header>
</mat-card> -->
<!-- <div style="display:flex;justify-content: center;">
    <div mat-card-avatar>
        <button mat-mini-fab>
            <mat-icon>whatshot</mat-icon>
        </button>
    </div>
    <span>
        Professional Summary
    </span>
</div> -->
<div class="custom-cards-clickable" routerLink="/Home">
    <a mat-fab extended color="primary">
      <mat-icon>home</mat-icon>
      Home
    </a>
</div>
<div class="custom-cards-clickable" routerLink="/Professional-Summary">
    <a mat-fab extended color="primary">
      <mat-icon>whatshot</mat-icon>
      Summary
    </a>
</div>
<div class="custom-cards-clickable" routerLink="/Skills">
    <a mat-fab extended color="primary">
      <mat-icon>stars</mat-icon>
      Skills
    </a>
</div>
<div class="custom-cards-clickable" routerLink="/Education">
    <a mat-fab extended color="primary">
      <mat-icon>school</mat-icon>
      Education
    </a>
</div>
<div class="custom-cards-clickable" routerLink="/Professional-Experience">
    <a mat-fab extended color="primary">
      <mat-icon>business_center</mat-icon>
      Experience
    </a>
</div>
<div class="custom-cards-clickable" routerLink="/Certifications">
    <a mat-fab extended color="primary">
      <mat-icon>security</mat-icon>
      Certifications
    </a>
</div>
<div class="custom-cards-clickable" routerLink="/Projects">
    <a mat-fab extended color="primary">
      <mat-icon>group_work</mat-icon>
      Projects
    </a>
</div>