<div class="row">
    <mat-stepper [linear]="true" #stepper>
        <mat-step>
            <ng-template matStepLabel>Ecolab Digital Center</ng-template>
            <div>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>email</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>University/Board</mat-card-title>
                                <mat-card-subtitle>Karnataka School Examination & Assesment Board</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>call</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Duration</mat-card-title>
                                <mat-card-subtitle>Aug/2011 - May/2012</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Name Of Institution</mat-card-title>
                                <mat-card-subtitle>Shri Siddhivinayaka English Medium High School</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>verified_user</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Location</mat-card-title>
                                <mat-card-subtitle>Siddapur, Uttara Kannada, Karnataka</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Website</mat-card-title>
                                <mat-card-subtitle><a target="_blank" href="https://spsamiti.org/siddhivinayak-english-medium-highschool-siddapur/">SVEM</a></mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>verified_user</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Aggregate Percentage</mat-card-title>
                                <mat-card-subtitle>94.56%</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Scientific Games</ng-template>
            <div>
                <button mat-raised-button matStepperPrevious class="devider">Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>email</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>University/Board</mat-card-title>
                                <mat-card-subtitle>Karnataka School Examination & Assesment Board</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>call</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Duration</mat-card-title>
                                <mat-card-subtitle>Aug/2012 - May/2014</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Name Of Institution</mat-card-title>
                                <mat-card-subtitle>MES Chaitanya PU College</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>verified_user</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Location</mat-card-title>
                                <mat-card-subtitle>Sirsi, Uttara Kannada, Karnataka</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Website</mat-card-title>
                                <mat-card-subtitle><a target="_blank" href="https://www.meschaitanyasirsi.org/">Chaitnya</a></mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>verified_user</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Aggregate Percentage</mat-card-title>
                                <mat-card-subtitle>85.33%</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>SLK Software Services Pvt Ltd</ng-template>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="customise-grid">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>email</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>University/Board</mat-card-title>
                                <mat-card-subtitle>Vishweshwarayya Technological University</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>call</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Duration</mat-card-title>
                                <mat-card-subtitle>Aug/2014 - May/2018</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Name Of Institution</mat-card-title>
                                <mat-card-subtitle>Jawaharlal Nehru National College Of Engineering</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>verified_user</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Location</mat-card-title>
                                <mat-card-subtitle>Navule, Shivamogga, Karnataka</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="row">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Website</mat-card-title>
                                <mat-card-subtitle><a target="_blank" href="https://www.jnnce.ac.in/jnndemo/">JNNCE</a></mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="custom-cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <button mat-mini-fab>
                                        <mat-icon>verified_user</mat-icon>
                                    </button>
                                </div>
                                <mat-card-title>Aggregate Percentage</mat-card-title>
                                <mat-card-subtitle>74.56%</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-step>
    </mat-stepper>
</div>
