<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>MS SQL Server</mat-card-title>
                            <mat-card-subtitle>Database</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-sql"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively and used transaction queries.
                                    Created and modified some sql jobs and also some views.
                                    Also designed new databases and used some system tables.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Azure SQL Server</mat-card-title>
                            <mat-card-subtitle>Database</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-sql"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified some tables and many stored procedures and functions.
                                    Tackled some performace issues and reolved some dead lock issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>C#</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-csharp"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this language from the beginning of my career.
                                    Created and modified many classes, interfaces, enums, collections, abstarct classes and many methods.
                                    Used linq queries as well while working with entities.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>HTML</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-html"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have created some sites in html and also used many tags of it.
                                    In mvc architecture used html in views to dispaly the website.
                                    Used some of the tags for forms and also used inline styles to display those.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>CSS</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-css"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have created many style sheets for designing the web pages and improving UI.
                                    I have worked on less files as well and used mixins and variables to design.
                                    Also created some customised fonts and used custom svgs for icons.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Javascript</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-javascript"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this while creating static websites and created many elements dynamically as well.
                                    Created datatables and also did event handling and document overwriting.
                                    Used some of the thiird party libraries as well and customised it.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Bootstrap</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-bootstrap"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used boostarp, ngx bootstrap as well for designing the websites.
                                    Created the sitetour using the booststrap site tour libraries.
                                    Bulit the res[ponsive websites by verifying the UI for different device types.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>JSON</mat-card-title>
                            <mat-card-subtitle>Data Format</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-json"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used josn as web api responses and alos worked on iot device responses in json format.
                                    Worked on the json format using newtonsoft json and system.text.json.
                                    Used Ajax queries that receives Json and also built some reports which uses json as input.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>JQuery</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-jquery"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used Jquery where elements are accessed using selectors for modification.
                                    Used many event bindings and also used many third party libraries.
                                    Customised third party jquery libraries as well.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>.Net</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-dornet"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I haveused as backend framework for building many web applications in mvc and also created web api's.
                                    I have built some console applications as well which worked as tools.
                                    Used ADO .Net and entityframework as well along with this.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>.Net Core</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-dornetcore"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I created web api using .net core and used many features like middlewares.
                                    Utilized inbuilt dependency ingestion conatainer for registering services.
                                    Created azure functions, console tools and webjobs as welll.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Angular</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-angular"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>Created an application using this as front end which uses .net core api as backend.
                                    Built many components and also used interceptors, resolvers, routing, guards and services.
                                    Implemented antiforgery token as well in this.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Azure</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used many azure services and have done certifications for azure fundamentals.
                                    Worked on some the azure PAAS services like storages, cosmos, service bus, app services, event hub etc.
                                    Also created some poc in the free subscription.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Cosmos DB</mat-card-title>
                            <mat-card-subtitle>Database</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-cosmos"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for storing events data in the json format.
                                    Stored repprts links and names realted documents ans also details of the notification sent.
                                    while ingesting the data to database some metadata are stored in the json format here.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Azure Devops</mat-card-title>
                            <mat-card-subtitle>CI/CD and Repository</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-devops"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this tool for creating stories and foloowing agile methodologies.
                                    Created some build and release pipelines and deployed code to various environments.
                                    Also created and used some existing repositories to keep the code.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Git</mat-card-title>
                            <mat-card-subtitle>Version Control</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-git"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used git commands to clone the code and push the code to the remote repository.
                                    Also used the git bash tool for running these command and used visual studio UI as well for this.
                                    Used commanda like clone. checkout, push, pull, merge etc.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>     
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Git Hub</mat-card-title>
                            <mat-card-subtitle>Repository</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-git-hub"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for pushing the poc code that i have created for personal use.
                                    Used git hub pages to host the static pages and also created pipelines for deploying here.
                                    Created some process for creating pull request and merging.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Bit Bucket</mat-card-title>
                            <mat-card-subtitle>Repository</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-bitbucket"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have created new repository for pushing the new codes and also some existing ones.
                                    Migarted the code from svn to this repository.
                                    Also created some process for approval of merge request into master branch.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Entity Framework</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-entity-framework"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for poc and small projects using database first aproach.
                                    Used linq queries for working and modifying the entity data.
                                    Also used edmx file for creating design of tables and creating relationship.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>EF Core</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-entity-framework-core"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this in modern web application and used specifically model first aproach.
                                    Created some migration projects as well to create the database based on models.
                                    Used linq queries as well and also used schemas for different tables.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Service Bus</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-servicebus"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for sending mail in ques notification to users.
                                    Used multiple subscription of topics so that multiple subscribers can recieve same message.
                                    Web job and function were created which will run based on service bus message trigger.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Web Jobs</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-webjobs"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have created web jobs to monitor the data coming to event hubs and service buses as well.
                                    Created some web jobs which will run independently and gets trigger based on time.
                                    Deployed these web jobs in azure app services.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Table Storage</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-table-storage"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used table storage to store the data that comes in raw json format from event hubs using web jobs.
                                    Created logic based on row key and partition key and encrypted the data to be stored in one column.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Stream Analytics Job</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-stream-analytics-job"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this to process the data from azure iot hub service to event hubs.
                                    Inputs here are the blob stirage master data and iot hub data and outputs are storage conatiner and event hubs.
                                    created query to store data in blob container and send the data to event hub.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Storage Que</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-storage-que"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for notifying report generation to the web job.
                                    When it is time to generate the report the message will sent to this que and the web job picks 
                                    data from here to generate the report.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Storage Accounts</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-storage-accounts"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for storing the generated reports.
                                    also used as cold stirage which logs the data that comes from iot hub to event hub.
                                    Some master data were also stored in this which are shared with many web jobs.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Function Apps</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-function-apps"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have created function apps which will run based on timer triggers.
                                    Created some functions which will run independently and gets trigger based on storage account, event hub and 
                                    service bus data arrival.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Event Hubs</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-event-hubs"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for recieving json data from iot devices.
                                    created some tools to reingest the data tpo these event hubs when previousely it failed.
                                    Web job and function were created which will run based on event hub message trigger.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>App Services</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-app-services"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for deploying the code and hosting it for use.
                                    Created slots for each environment and deployed web jobs, apis and web applications.
                                    Used Configuration for setting the environment variables.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Redis Cache</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-redis-cache"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have used this for storing some master data in key value formats.
                                    The redis cache is used for caching the data for about 30 mins maximum.
                                    This increased the performance as cahed data was efficiently used.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>