<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>MS SQL Server</mat-card-title>
                            <mat-card-subtitle>Database</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-sql"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Azure SQL Server</mat-card-title>
                            <mat-card-subtitle>Database</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-sql"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>C#</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-csharp"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>HTML</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-html"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>CSS</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-css"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Javascript</mat-card-title>
                            <mat-card-subtitle>Language</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-javascript"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Bootstrap</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-bootstrap"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>JSON</mat-card-title>
                            <mat-card-subtitle>Data Format</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-json"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>JQuery</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-jquery"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>.Net</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-dornet"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>.Net Core</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-dornetcore"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Angular</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-angular"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Azure</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Cosmos DB</mat-card-title>
                            <mat-card-subtitle>Database</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-cosmos"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Azure Devops</mat-card-title>
                            <mat-card-subtitle>CI/CD and Repository</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-devops"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Git</mat-card-title>
                            <mat-card-subtitle>Version Control</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-git"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>     
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Git Hub</mat-card-title>
                            <mat-card-subtitle>Repository</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-git-hub"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Bit Bucket</mat-card-title>
                            <mat-card-subtitle>Repository</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-bitbucket"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Entity Framework</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-entity-framework"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>EF Core</mat-card-title>
                            <mat-card-subtitle>Framework</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-entity-framework-core"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Service Bus</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-servicebus"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Web Jobs</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-webjobs"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Table Storage</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-table-storage"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Stream Analytics Job</mat-card-title>
                            <mat-card-subtitle>Cloud Services</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-stream-analytics-job"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Storage Que</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-storage-que"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Storage Accounts</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-storage-accounts"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Function Apps</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-function-apps"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Event Hubs</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-event-hubs"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="row">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>App Services</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-app-services"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <div class="custom-tile-flip">
                <mat-card class="custom-flip-cards">
                    <div class="front-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Redis Cache</mat-card-title>
                            <mat-card-subtitle>Cloud Service</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-avatar-common image-avatar-azure-redis-cache"></div>
                    </div>
                    <div class="back-face">
                        <mat-card-header class="custom-header">
                            <mat-card-title>Experience</mat-card-title>
                            <mat-card-subtitle>
                                <h4>I have been working on DDL and DML commands extensively.
                                    Created and modified many stored procedures and functions.
                                    Also used merge queries and joins along with tackling some performace issues.</h4>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>