<div class="show-mobile">
  <h2>Website is compatible only for larger devices.</h2>
</div>
<div class="main-container">
  <app-navigation (menuClicked)="drawer.toggle()"></app-navigation>
  <mat-sidenav-container>
    <mat-sidenav class="side-nav-style" #drawer mode="side" [fixedInViewport]='true' [fixedTopGap]="64" [fixedBottomGap]="0">
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet />
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>