.clickable {
    cursor: pointer;
    margin-left:20px;
}

.margin-heading {
    margin-left:10px;
}

.position-constant {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}