.example-card {
    height: 300px;
    width:100%;
  }

  .header-image{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/chandan_icon.jpg');
    background-size: cover;
  }

  .cover-image{
    background-image: url('https://shanbhagchandan.github.io/Portfolio/chandan_icon.jpg');
    background-size: cover;
    height:220px;
    width:220px;
    margin-left: auto;
    margin-right: auto;
  }