<div class="row">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Summary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Worked as .Net full stack developer.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Fixed the issues and developed new functionalities in complex applications.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Created design and development of new applications.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Agile and Waterfall methodologies were used for software development cycles.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Always learning new technologies and did some certifications.</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<div class="row">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Roles and Responsibilties</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Analysing the requirements and creating multiple stories whcih can be worked as tasks.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Creating design and wireframes for the features.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Coordinating with the multiple teams to complete the developement of all tasks.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Creating unit test cases and doing one round of manual testing of the feature.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Deployment of the features into the respective environments.</mat-list-item>
                <mat-list-item role="listitem"><mat-icon matListItemIcon> beenhere</mat-icon> Helping the team members in achieving the tasks.</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>




