.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

::ng-deep .mat-mdc-list .mat-mdc-list-item{
    height:100% !important;
    padding: 15px 0px;
}

::ng-deep .mat-mdc-list .mat-mdc-list-item .mdc-list-item__content .mdc-list-item__primary-text{
     word-wrap: break-word !important;
    white-space: normal !important;
}
